@media (width < 769px) {
   .nav-btn {
    bottom: 10px;
    border: none;
    padding: 7px 13px;
    font-size: normal;
    margin: 0 15px;
    margin-bottom: 20px;
  }
  
  .nav-btn:disabled {
    opacity: 0.3;
  }
  .prev {
    left: 5px;
  }
  .next {
    right: 5px;
  }
  .instruction {
    display: none;
  }
  .page{
    width: 100vw;
    padding: 0;
    margin: 0;
    /* background-color: yellow; */
  }
  .content{
    width: 100vw;
    height: auto;
    /* padding-top: 25vh; */
    /* background-color: brown; */
  }
  
  .home{
    width: 90vw;
    height: auto;
     /* margin-top: 10vh; */
  }
  .home-content{
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .brief, .home-sci, .btn-box{
    width: 100%;
    padding: 5px;
    /* background-color: chartreuse; */
  }
  .brief h1 span{
    font-size: normal;
  }

  .brief h3{
    font-size: normal;
  }

  .brief p{
    width: 100%;
    padding: 0;
  }
  /* &&&&&&&&&&&&&&&&&&&&&&&&&&& */
.mypic {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
.piece {
  width: 100px;
  height: 100px;
  background-size: 200px 200px;
}

.top-right {
  background-position: -100px 0;
}
.bottom-left {
  background-position: 0 -100px;
}
.bottom-right {
  background-position: -100px -100px;
}

.btn-box a{
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60%;
  font-size: normal;
}
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* ABOUT SECTION  */
.me{
  width: 90%;
  /* background-color: purple; */
}
.me .heading {
  margin-top: 30px;
}

.me p{
  padding-top: 10px;
  padding: 0;
  width: 90%;
}
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* SKILLLS SECTION  */
#Skills{
  margin: 10px;
  padding-top: 15px;
  width: 95%;
  background: linear-gradient(to right,orangered 10%, #343434 100%, #081b29 50%); 
}
.boxes{
  padding: 10px;
}
.box{
  margin: 20px;
  width:100px;
  height:100px; 
}
.box img{
  width: 50px;
  height: 50px;
}
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* PROJECTS SECTION  */
img{ 
  width: 350px;
  height: 200px;
  /* border-radius: 6px; */
  /* background: linear-gradient(to right,orangered 10%, #343434 100%, #081b29 50%);  */
}

.child{
  width: 300px;
  height: 150px;
 
}

.child h4{
  font-size:normal;
}

.child p{
  font-size: normal;
  /* width: 100%; */
}


  
} 
  
  
/* ***************************** */
   
  
